mixin navLink(name,url)
    if(path === url)
        li.nav-item.active
            a.nav-link(href='#{url}')
                | #{name} 
    else if(name === 'RESUME')
        li.nav-item
            a.nav-link(href='#{url}',target="_blank")
                | #{name} 
    else
        li.nav-item
            a.nav-link(href='#{url}')
                | #{name} 
    

mixin logo()
    if(logoColor === "pink")
        img(src="./images/logo_pink.svg").logo
    else
        img(src="./images/logo_gray.svg").logo


mixin togglerColor()
    if(togglerColor === "orange")
        button.navbar-toggler.navbar-toggler_orange#nav(type='button')
                span.navbar-toggler-icon
    else if(togglerColor === "grey")
        button.navbar-toggler.navbar-toggler_grey#nav(type='button')
                span.navbar-toggler-icon
    else if(togglerColor === "blue")
        button.navbar-toggler.navbar-toggler_blue#nav(type='button')
                span.navbar-toggler-icon
    else if(togglerColor === "gold")
        button.navbar-toggler.navbar-toggler_gold#nav(type='button')
                span.navbar-toggler-icon
    else
        button.navbar-toggler#nav(type='button')
                span.navbar-toggler-icon


mixin nav_bg()
    if(nav_bg === "grey")
        nav.navbar.navbar-expand-lg.navbar-light.navbar_grey
            a.navbar-brand(href='index.html') 
                +logo
            +togglerColor
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    each item in menu.list
                        +navLink(item.name,item.url)
    else
        nav.navbar.navbar-expand-lg.navbar-light
            a.navbar-brand(href='index.html') 
                +logo
            +togglerColor
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    each item in menu.list
                        +navLink(item.name,item.url)



+nav_bg
